html,
body,
div,
span,
ul,
li,
a {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
body,
html {
	width: 100%;
	height: 100%;
}
body {
	background: url(../../Assets/bg/2020-09-03-183452.jpg) center;
	background-size: cover;
}
#customize-article-navigator {
	font-family: sans-serif;
	letter-spacing: 1px;
	overflow: hidden;
	background: #eee;
	box-sizing: content-box;
	transition: all 0.5s linear;
	position: fixed;
	left: 0;
	width: var(--an-bg-width);
	bottom: 0;
	/*! top: var(--an-top-distance); */
	/*content height - double border size*/
	max-height: calc(var(--an-bg-height) - 12px);
	border: 6px double var(--an-edge-color);
	/*scroll bar length*/
	--an-scroll-bar-len: unset;
	/*scroll bar moved length*/
	--an-scroll-bar-move: unset;
	/*blocks area moved height*/
	--an-blocks-area-move: unset;
	--an-bg-height: calc(100vh - 85px);
	--an-bg-width: 250px;
	--an-margin-lr: 10px;
	--an-margin-tb: 20px;
	/*site top banner height*/
	/*! --an-top-distance: 85px; */
	/*darkred*/
	--an-edge-color: #8b0000;
	--an-bottom-ledge-size: 8px;
	--an-bottom-size: 35px;
	--an-deco-side-size: 20px;
}
.an-pseudo-el-layer::before,
.an-pseudo-el-layer::after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
/*
* night mode start
body.body-bg-night #customize-article-navigator {
	background: unset;
}
body.body-bg-night .an-blocks::before {
	background: rgba(30, 30, 30, 0.5);
}
body.body-bg-night .an-blocks::after {
	background-image: unset;
}
/*
body.body-bg-night .an-blocks::before {
	background: rgba(30, 30, 30, 0.8);
}
*night mode end
*corner decoration start
.an-deco-corner > div {
	position: absolute;
	background: url(../assets/5fbd3bbb318bec189ee9b717cd3c2f6a_4.png) center;
	background-size: cover;
	width: var(--an-bottom-size);
	height: var(--an-bottom-size);
	opacity: 0.7;
}
.an-deco-corner-tl {
	top: 0;
	left: 0;
	transform: rotate(180deg);
}
.an-deco-corner-tr {
	top: 0;
	right: 0;
	transform: rotate(270deg);
}
.an-deco-corner-bl {
	bottom: 0;
	left: 0;
	transform: rotate(90deg);
}
.an-deco-corner-br {
	bottom: 0;
	right: 0;
}
*corner decoration end
*/
/*visibility start*/
#customize-article-navigator.an-close-side .an-deco-side-l {
	left: -2px;
}
#customize-article-navigator.an-close-side .an-deco-side-r {
	right: -2px;
}
#customize-article-navigator.an-show-all .bottom-cube-front > div:hover::after {
	display: block;
}
#customize-article-navigator.an-hide-all {
	/*! top: calc(
		100vh - 24px - var(--an-margin-tb) * 2 - 12px -
			var(--an-bottom-ledge-size) - var(--an-bottom-size)
	); */
	bottom: 10px;
	left: 10px
}
#customize-article-navigator.an-hide-all .an-blocks {
	display: none;
}
#customize-article-navigator.an-hide-all
	.bottom-cube-front
	> div:hover::before {
	display: block;
}
/*visibility end*/
/*top title start*/
.an-top {
	text-align: center;
	line-height: 24px;
	font-size: 18px;
	box-shadow: 0 0 5px #808080;
	position: relative;
	overflow: hidden;
}
.an-top::before {
	/*antiquewhite->bisque->antiquewhite*/
	background: linear-gradient(to right, #faebd7, #ffe4c4, #faebd7);
	z-index: -2;
}
.an-top::after {
	background: url(../assets/3584aea555db7ef041845aff44f33622_s.png) no-repeat
		bottom;
	background-size: contain;
	z-index: -1;
}
.an-top:hover > .an-title-animation:first-child {
	animation: an-title-animation-1 4s linear 1;
}
.an-top:hover > .an-title-animation:last-child {
	animation: an-title-animation-2 4s linear 1;
}
.an-top > .an-title-animation {
	position: absolute;
	opacity: 1;
	top: 20px;
	/*burlywood*/
	color: #deb887;
}
.an-top > .an-title-animation:first-child {
	left: 30px;
	transform: rotate(25deg) scale(1);
}
.an-top > .an-title-animation:last-child {
	left: 200px;
}
@keyframes an-title-animation-1 {
	0% {
		top: 20px;
		left: 30px;
		opacity: 1;
		transform: rotate(25deg) scale(1);
	}
	25% {
		top: 5px;
		left: 72px;
		opacity: 0.6;
		transform: rotate(70deg) scale(0.6);
	}
	50% {
		top: 0px;
		left: 115px;
		opacity: 0.2;
		transform: rotate(115deg) scale(0.2);
	}
	75% {
		top: 5px;
		left: 157px;
		opacity: 0.6;
		transform: rotate(160deg) scale(0.6);
	}
	100% {
		top: 20px;
		left: 200px;
		opacity: 1;
		transform: rotate(205deg) scale(1);
	}
}
@keyframes an-title-animation-2 {
	0% {
		top: 20px;
		left: 200px;
		opacity: 1;
		transform: rotate(0deg) scale(1);
	}
	25% {
		top: 5px;
		left: 157px;
		opacity: 0.6;
		transform: rotate(45deg) scale(0.6);
	}
	50% {
		top: 0px;
		left: 115px;
		opacity: 0.2;
		transform: rotate(90deg) scale(0.2);
	}
	75% {
		top: 5px;
		left: 72px;
		opacity: 0.6;
		transform: rotate(135deg) scale(0.6);
	}
	100% {
		top: 20px;
		left: 30px;
		opacity: 1;
		transform: rotate(180deg) scale(1);
	}
}
.an-top > .an-title {
	display: inline-block;
	position: relative;
	margin: var(--an-margin-tb) 0;
	color: #666;
	font-family: KaiTi;
}
.an-title::before,
.an-title::after {
	content: "";
	position: absolute;
	width: 10%;
	height: 30%;
}
.an-title::before {
	border-top: 1px solid;
	border-left: 1px solid;
	top: -3px;
	left: -5px;
}
.an-title::after {
	border-bottom: 1px solid;
	border-right: 1px solid;
	right: -5px;
	bottom: -3px;
}
.an-title > div:last-child {
	position: absolute;
	width: 50px;
	height: 50px;
	left: calc(50% - 25px);
	top: 50%;
	/*lightyellow*/
	background: #ffffe0;
	opacity: 0.5;
	z-index: -1;
	border-radius: 50%;
}
/*top title end*/
/*scroller start*/
.an-blocks > .an-scroller {
	position: absolute;
	width: 8px;
	height: calc(100% - 4px);
	background: rgba(255, 228, 196, 1);
	right: 0;
	top: 2px;
	opacity: 0;
	transition: opacity 0.5s linear;
	z-index: 1;
	border-radius: 8px;
}
.an-scroller-progress {
	position: inherit;
	width: inherit;
	height: var(--an-scroll-bar-len);
	top: var(--an-scroll-bar-move);
	background: #666;
	opacity: 0.5;
	border-radius: inherit;
	cursor: pointer;
	transition: background 0.5s linear;
}
.an-scroller.an-no-equal-height > .an-scroller-progress:hover {
	background: #86534e;
}
.an-scroller.an-no-equal-height:hover,
.an-scroller.an-no-equal-height.an-scroller-show {
	opacity: 1;
}
/*scroller end*/
/*side decoration start*/
.an-deco-side-l,
.an-deco-side-r {
	position: absolute;
	top: 0;
	width: calc(var(--an-bg-width) / 2);
	height: 100%;
	background-image: url(../assets/65e1fc8cd079ede840c85ce02cee463e_s_3.png);
	background-repeat: no-repeat;
	background-size: cover;
	transition: all 0.5s linear;
	border: 2px solid #86534e;
	box-sizing: content-box;
}
.an-deco-side-l {
	/*total width/2 - side decoration width*/
	left: calc(var(--an-deco-side-size) - calc(var(--an-bg-width) / 2));
	background-position-x: right;
}
.an-deco-side-r {
	right: calc(var(--an-deco-side-size) - calc(var(--an-bg-width) / 2));
	background-position-x: left;
}
/*side decoration end*/
/*nav block start*/
.an-blocks {
	text-align: center;
	/*total height - border size*2 - top title height - top title margin - bottom size - bottom ledge height*/
	max-height: calc(
		var(--an-bg-height) - 12px - 24px - var(--an-margin-tb) * 2 -
			var(--an-bottom-size) - var(--an-bottom-ledge-size)
	);
	overflow: hidden;
	position: relative;
	transition: all 0.5s linear;
	height: auto;
}
.an-blocks::before {
	/*beige*/
	background: rgba(255, 228, 196, 0.5);
	z-index: -1;
}
.an-blocks::after {
	background-image: url(../assets/0886ebdafa19e9b23a388d505e69b097_s.png);
	background-position: center;
	background-size: cover;
	opacity: 0.5;
	z-index: -2;
}
.an-blocks > .an-block-container {
	position: relative;
	bottom: var(--an-blocks-area-move);
}
.an-block {
	position: relative;
	margin: 0 calc(var(--an-deco-side-size) + 2px) 5px;
}
.an-block > div {
	padding: 5px 0;
}
.an-block-title {
	margin-bottom: 5px;
	font-size: 14px;
	line-height: 20px;
}
.an-block-title > .block-title-pre {
	overflow: hidden;
}
.block-title-pre > .block-title-pre-in {
	border-top: 1px solid #b8860b;
	border-bottom: 1px solid #b8860b;
	width: 80%;
	margin: 0 10%;
	position: relative;
	background: linear-gradient(
		to right,
		transparent,
		#faebd7,
		#ffe4c4,
		#faebd7,
		transparent
	);
	box-sizing: content-box;
}
.block-title-pre-in::before,
.block-title-pre-in::after {
	position: absolute;
	content: "";
	color: #deb887;
	width: 20px;
	height: 20px;
	box-sizing: inherit;
	border-top: inherit;
}
.block-title-pre-in::before {
	border-left: 1px solid #b8860b;
	left: -7px;
	transform: rotate(-45deg);
}
.block-title-pre-in::after {
	border-right: 1px solid #b8860b;
	right: -7px;
	transform: rotate(45deg);
}
.block-title-pre-in > div {
	display: inline-block;
	margin: 0 3px;
}
.block-title-pre-in > div > span {
	/*darkgray*/
	color: #a0a0a0;
}
.block-title-pre-in > div > span:nth-child(2) {
	font-family: Calibri;
	color: #666;
}
.block-title-pre-in > span:first-child {
	/*darkseagreen*/
	color: #8fbc8f;
	transform: rotateY(180deg);
	opacity: 0.7;
}
.block-title-pre-in > span:last-child {
	/*lightgray*/
	color: #666;
}
.an-block-title .title-content {
	/*lightslategray*/
	color: #789;
	margin-top: 3px;
}
.an-nav li {
	line-height: 1.5;
	font-size: 0.9rem;
	list-style: none;
}
.an-nav a {
	color: #bc8282;
}
.an-nav a:hover {
	color: #777;
}
/*nav block end*/
/*bottom cube start*/
.an-bottom > .bottom-cube-top {
	position: relative;
	width: 100%;
	height: var(--an-bottom-ledge-size);
	box-shadow: 0 0 3px #808080;
}
.bottom-cube-top::before {
	background: #924a43;
}
.bottom-cube-top::after {
	background: url(../assets/db8a37c82fe95b87a34e92b554178108_1.png) 90% center;
	transform: skewX(-45deg);
}
.an-bottom > .bottom-cube-front {
	height: var(--an-bottom-size);
	text-align: center;
	box-shadow: 0 0 5px #808080;
	background: url(../assets/db8a37c82fe95b87a34e92b554178108_1.png) left
		center;
}
.bottom-cube-front > div {
	position: relative;
	display: inline-block;
	color: var(--an-edge-color);
	font-size: 15px;
	cursor: pointer;
	width: 20px;
	height: 20px;
	margin: calc(var(--an-bottom-size) / 2 - 10px) 0;
	line-height: 20px;
	border: 2px solid var(--an-edge-color);
	box-sizing: content-box;
	border-radius: 50%;
	background: #ffe4c4;
	transition: all 0.5s linear;
}
.bottom-cube-front > div:hover {
	color: #444;
	border-color: #444;
}
.bottom-cube-front > div i {
	transition: all 0.5s linear;
}
.bottom-cube-front > div:hover i {
	transform: rotate(90deg);
}
.bottom-cube-front > div::before,
.bottom-cube-front > div::after {
	position: absolute;
	white-space: nowrap;
	font-size: 0.6rem;
	background: #ffe4c4;
	border: 2px solid var(--an-edge-color);
	box-sizing: content-box;
	padding: 3px 5px;
	border-radius: 6px;
	color: #666;
	display: none;
	line-height: initial;
	bottom: 0;
	cursor: initial;
}
.bottom-cube-front > div::before {
	content: "显示章节导航";
	right: 30px;
}
.bottom-cube-front > div::after {
	content: "隐藏章节导航";
	left: 30px;
}
/*bottom cube end*/
